trigger:
- main

pool:
  name: Default
  demands:
    - agent.os -equals Darwin

steps:
# Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# Install npm dependencies and build React app
- script: |
    export NODE_OPTIONS=--openssl-legacy-provider
    npm install --legacy-peer-deps
    npm run build
  displayName: 'Install npm packages and build React app'