stages:
- stage: Build
  jobs:
  - job: BuildJob
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      clean: true
      fetchDepth: 0

    # Debug root folder
    - script: ls -la
      displayName: 'List root folder'

    # Build backend
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
    - script: |
        npm install
        npm run build
      workingDirectory: backend
      displayName: 'Build Backend'