trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  clean: true
  fetchDepth: 0

# Install Node.js 20.x
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# Install dependencies & build with crypto legacy provider
- script: |
    export NODE_OPTIONS=--openssl-legacy-provider
    npm install --legacy-peer-deps
    npm run build
  workingDirectory: .
  displayName: 'Install & Build React App'